<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Presentation</title>

        <!-- Katex -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
            integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
            crossorigin="anonymous"
        />
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"
            integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8"
            crossorigin="anonymous"
        ></script>
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
            integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05"
            crossorigin="anonymous"
        ></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                renderMathInElement(document.body, {
                    // customised options
                    // • auto-render specific keys, e.g.:
                    delimiters: [
                        { left: '$$', right: '$$', display: true },
                        { left: '$', right: '$', display: false },
                        { left: '\\(', right: '\\)', display: false },
                        { left: '\\[', right: '\\]', display: true },
                    ],
                    // • rendering keys, e.g.:
                    throwOnError: false,
                })
            })
        </script>

        <!-- Highlight.js -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css"
        />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
        <script>
            hljs.highlightAll()
        </script>

        <!-- Morph DOM -->
        <script src="https://cdn.jsdelivr.net/npm/morphdom@2.6.1/dist/morphdom-umd.min.js"></script>

        <!-- Custom Elements -->
        <script>
            // resizing
            const DEFAULT_VH_MARGIN = 0.025
            let ORIGINAL_WIDTH = 1920
            let ORIGINAL_HEIGHT = 900

            // slide custom element
            class Slide extends HTMLElement {
                constructor() {
                    super()
                    this.steps = []

                    this._currentStep = 0
                    this.svgSizes = []

                    document.addEventListener(
                        'DOMContentLoaded',
                        () => {
                            this._resize()
                            this.initial = this.outerHTML
                        },
                        0
                    )

                    // add resize
                    window.addEventListener('resize', () => {
                        this.resize()
                    })
                }

                set currentStep(value) {
                    this._currentStep = value
                }

                get currentStep() {
                    return this._currentStep
                }

                addStep(stepCallback, autoplay = false) {
                    this.steps.push({ func: stepCallback, autoplay })
                }

                checkAutoplay() {
                    if (this.currentStep < this.steps.length) {
                        const { autoplay, func } = this.steps[this.currentStep]
                        if (autoplay) {
                            this.currentStep++
                            func()
                        }
                    }
                }

                nextStep() {
                    if (this.currentStep < this.steps.length) {
                        // apply next
                        this.currentStep++
                        const { func } = this.steps[this.currentStep - 1]
                        func()
                    }
                }

                hasNextStep() {
                    return this.currentStep < this.steps.length
                }

                resize() {
                    if (this._resize_timeout) {
                        clearTimeout(this._resize_timeout)
                    }

                    this._resize_timeout = setTimeout(() => {
                        this._resize()
                    }, 100)
                }

                _resize() {
                    let originalHeight =
                        ORIGINAL_HEIGHT * (1 - DEFAULT_VH_MARGIN * 2)
                    let originalWidth = originalHeight * (4 / 3)

                    let scale = 1

                    let vw = Math.min(document.documentElement.clientWidth, screen.availWidth)
                    let vh = Math.min(document.documentElement.clientHeight, screen.availHeight)
                    console.log(vw, vh)

                    if (vw * (3 / 4) >= vh) {
                        const h = vh * (1 - DEFAULT_VH_MARGIN * 2)
                        const w = h * (4 / 3)
                        const my = DEFAULT_VH_MARGIN * vh
                        const mx = (vw - w) / 2

                        this.style.margin = `${my}px ${mx}px`
                        scale = h / ORIGINAL_HEIGHT
                    }else{
                        const w = vw * (1 - DEFAULT_VH_MARGIN * 2)
                        const h = w * (3 / 4)
                        const mx = DEFAULT_VH_MARGIN * vw
                        const my = (vh - h) / 2

                        this.style.margin = `${my}px ${mx}px`
                        scale = h / ORIGINAL_HEIGHT
                    }

                    this.style.height = `${originalHeight}px`
                    this.style.width = `${originalWidth}px`
                    this.style.transform = `scale(${scale})`

                }

                reset() {
                    morphdom(this, this.initial, { childrenOnly: true })
                    this.currentStep = 0
                    this.resize()
                    this.checkAutoplay()
                }
            }
            window.customElements.define('presentation-slide', Slide)
        </script>
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body style="opacity: 0">
        <!-- content -->
    </body>
    <script src="index.js" type="module"></script>
</html>
